<footer class="text-center text-white bg-primary fixed-bottom">
  <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
    <div class="me-5 d-none d-lg-block">
      <span>Giữ liên lạc với chúng tôi thông qua:</span>
    </div>

    <div>
      <a href="" class="me-4 link-secondary">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="" class="me-4 link-secondary">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="" class="me-4 link-secondary">
        <i class="fab fa-google"></i>
      </a>
      <a href="" class="me-4 link-secondary">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="" class="me-4 link-secondary">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="" class="me-4 link-secondary">
        <i class="fab fa-github"></i>
      </a>
    </div>
  </section>

  <section class="">
    <div class="container text-center text-md-start mt-5">
      <div class="row mt-3">
        <div class="col-md-5 col-lg-6 col-xl-3 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3 text-secondary"></i>BBE - Be Better Everyday
          </h6>
          <p>
            BBE – Be Better Everyday là Doanh Nghiệp Xã Hội hoạt động với mục đích tạo ra nguồn nhân sự chất lượng cao cho một Việt Nam hùng mạnh. BBE hoạt động theo hình thức các chapter (chi hội), nơi các bạn sinh viên có thể giao lưu, học tập, thực hành để nâng cao năng lực tư duy, năng lực hành động và các kỹ năng chuyên nghiệp.
          </p>
        </div>

        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">
            Hoạt động
          </h6>
          <p>
            <a href="#!" class="text-reset">Journey To Success</a>
          </p>
          <p>
            <a href="#!" class="text-reset">BEE Chapter</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Hướng nghiệp</a>
          </p>
        </div>
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <h6 class="text-uppercase fw-bold mb-4">Liên hệ</h6>
          <p><i class="fas fa-home me-3 text-secondary"></i> Tầng 1, 06 Trần Phú, P. Thạch Thang, Q. Hải Châu, TP. Đà Nẵng</p>
          <p>
            <i class="fas fa-envelope me-3 text-secondary"></i>
            info@bbevietnam.org
          </p>
        </div>
      </div>
    </div>
  </section>