<header>
  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">
      <img src="./img/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
      BBE - Be Better Everyday
    </a>
    <button type="button" id="btn-register" class="btn btn-primary btn-lg border border-warning">Đăng ký ngay</button>
  </nav>

  <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand mb-0 h1" href="#">Trang chủ</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Về chúng tôi</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="chapterDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            BBE Chapter
          </a>
          <div class="dropdown-menu" aria-labelledby="chapterDropdown">
            <a class="dropdown-item" href="#">Chapters</a>
            <a class="dropdown-item" href="#">Tìm Chapter</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="serviceDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Hoạt động
          </a>
          <div class="dropdown-menu" aria-labelledby="serviceDropdown">
            <a class="dropdown-item" href="#">(JTS) Journey To Success</a>
            <a class="dropdown-item" href="#">BEE Chapter</a>
            <a class="dropdown-item" href="#">Hướng nghiệp</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</header>